{% extends 'layout.html' %}
{% block title_name %}
FAQ
{% endblock title_name %}

{% block content %}
<div class="container w-50 text-center">
    <div class="bg-info bg-gradient">
        <div class="border border-primary border-5 rounded-3">
            <h1>FAQ</h1>
            <p>
                Have questions? We've got answers!
                Check out our frequently asked questions for quick solutions to common problems.
            </p>
        </div>
    </div>
</div>
{% endblock content %}