{% extends 'layout.html' %}
{% block title_name %}
Pricing
{% endblock title_name %}

{% block content %}
<div class="container w-50 text-center">
    <div class="bg-info bg-gradient">
        <div class="border border-primary border-5 rounded-3">
            <h1>Pricing</h1>
            <p>
                Choose the right plan that fits your needs and budget.
                Our pricing is designed to be affordable and flexible.
            </p>
        </div>
    </div>
</div>
{% endblock content %}